*{
    border: 0;
    padding: 0;
}

header{
    display: grid;
    border: 1px solid black;
    grid-template-columns: auto 1fr auto;
    background-color: red;
    padding-left: 10px;
    padding-right: 20px;
    align-items: center;

}


input{
    grid-column: 3/-1;
    border: 1px black;
    padding: 5px 0 5px 0;
    
}

#pagina{
    text-align: center;
}

footer{
    display: grid;
    text-align: center;
    background-color: red;
    padding: 10px;
}

body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 70px 1fr 70px;

}